<style type="text/css">
    input {
        margin-bottom: 10px;
    }
    select {
        margin-bottom: 10px;
    }
</style>
<%= simple_form_for(@customer) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, autofocus: true %>
      <%= f.input :last_name %>
      <%= f.input :dob %>
      <%= f.input :start_date, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.input :carrier, as: :select, collection: %w"Premera Lifewise GHC Regence Bridgespan" %>
      <%= f.input :expected_amount %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary mtm' %>
    </div>
<% end %>
