<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, autofocus: true %>
    <%= f.input :last_name %>
    <%= f.input :dob %>
    <%= f.input :carrier %>
    <%= f.input :expected_amount_cents %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary mtm' %>
  </div>
<% end %>
