<%= simple_form_for(@commission) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :customer_id, as: :select, collection: Customer.order(:last_name), label_method: :full_name, autofocus: true, input_html: {class: 'chosen-select', style: 'width: 300px; padding-bottom: 20px;'} %>
      <%= f.input :month, as: :select, collection: Commission.months, selected: Date.today.strftime("%B") %>
      <%= f.input :year, as: :select, collection: Commission.years, selected: Date.today.year.to_s  %>
      <%= f.input :amount %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary mtm' %>
    </div>
<% end %>

<script type="text/javascript">

    $(function() {
        $('.chosen-container').trigger('mousedown');
    });
</script>